<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Learning Sprint Boot: Spring-a-Gram</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<h1>Learning Spring Boot - 2nd Edition</h1>
<h4 th:text="${extra}"></h4>

<div>
    <table>
        <thead>
        <tr>
            <th>Image ID</th>
            <th>Comment ID</th>
            <th>Text</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <th:block th:each="comment : ${comments}">
            <tr th:id="'tr-' + ${comment.id}" th:class="'image-' + ${comment.imageId}">
                <td th:text="${comment.imageId}"/>
                <td th:text="${#strings.substring(comment.id, #strings.length(comment.id)-6)}"/>
                <td th:text="${comment.comment}"/>
                <td>
                    <button th:id="${comment.id}" class="deleteComment">Delete</button>
                    <button th:id="${comment.imageId}" class="deleteImage">Delete all from image</button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    (function () {

        $("button.deleteComment").on("click", function () {
            var commentId = this.id;
            console.log("Clicked on button " + commentId);

            $.ajax({
                method: 'DELETE',
                url: '/comment/delete/' + commentId,
                success: function () {
                    console.log("Success deleting comment " + commentId);

                    var element = document.getElementById('tr-' + commentId);
                    element.style.display = "none";
                },
                error: function (error) {
                    console.log("Error deleting comment" + commentId, error)
                },
                complete: function (result) {
                    console.log("Finished deleting " + commentId)
                }
            });
        });

        $("button.deleteImage").on('click', function () {
            var imageId = this.id;

            console.log("Deleting every comment on image", imageId);

            $.ajax({
                method: 'DELETE',
                url: '/comment/' + imageId,
                success: function (result) {
                    console.log("Deletou comments from image sucess");

                    var elementsByClassName = document.getElementsByClassName('image-' + imageId);
                    var arr = [].slice.call(elementsByClassName);

                    arr.forEach(function (value) {
                        value.style.display = "none";
                    })
                },
                complete: function (result) {
                    console.log("Finished deleting every comment on image " + imageId)
                }
            });
        });

    })();
    /*]]>*/
</script>
</html>
