<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Learning Sprint Boot: Spring-a-Gram</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

<h1>Learning Spring Boot - 2nd Edition</h1>

<input id="username" type="text"/>
<button id="connect">Connect</button>
<button id="disconnect" style="display: none">Disconnect</button>


<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Actions</th>
                <th>Comments</th>
                <th>Add new comment</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="image : ${images}">
                <td th:text="${image.name}"/>
                <td th:text="${image.id}"/>
                <td>
                    <a th:href="@{'/images/' + ${image.name} + '/raw'}">
                        <img th:src="@{'/images/' + ${image.name} + '/raw'}" class="thumbnail"/>
                    </a>
                </td>
                <td>
                    <form th:method="delete" th:action="@{'/images/' + ${image.name}}">
                        <input type="submit" th:value="Delete">
                    </form>
                </td>
                <td>
                    <ul th:id="'comments-' + ${image.id}">
                        <li th:each="comment : ${image.comments}" th:text="${comment.comment}"></li>
                    </ul>
                </td>
                <td>
                    <input th:id="'comment-' + ${image.id}" type="text">
                    <button th:id="${image.id}" class="comment">Submit</button>
                </td>
            </tr>
        </tbody>
    </table>



    <form method="post" enctype="multipart/form-data" action="/images">
        <p><input type="file" name="file"/> </p>
        <p><input type="submit" name="upload"/> </p>
    </form>


    <div id="chatBox">
        Greetings!
        <br/>
        <textarea id="chatDisplay" rows="10" cols="80" disabled="true"></textarea>
        <br/>
        <input id="chatInput" type="text" style="width: 500px" value=""/>
        <br/>
        <button id="chatButton">Send</button>
        <br/>
    </div>

</div>
</body>


<!--

We start by creating a WebSocket connection at
ws://localhost:8200/topic/comments.new.

With a JavaScript WebSocket object assigned to our socket variable, we then
assign event handlers to onopen and onmessage.

The onopen handler is processed when a connection is first opened on the server.
In this case, it merely logs that we have connected.

The onmessage handler is processed everytime a message is issued from the
server. In this case, we log the event's data, parse it (assuming it's JSON),
construct an HTML LI, and append it to the page's already existing UL based
on the comment's imageId.

-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<!--The HTML <script> tag combined with th:inline="javascript" allows Thymeleaf to process it.-->
<!--To avoid HTML parsing in various browsers as well as our IDE, the entire code is wrapped with CDATA tags.-->
<script th:inline="javascript">
    /*<![CDATA[*/
    (function() {


        var newComments = null;
        var outboundChatMessages = null;
        var inboundChatMessages = null;

        $("#connect").click(function() {
            document.getElementById('connect').style.display = 'none';
            document.getElementById('disconnect').style.display = 'inline';

            var usernameInput = $("#username");
            console.log("Username: %s", usernameInput);
            document.getElementById('chatBox').style.display = 'inline';

            newComments = new WebSocket('ws://localhost:8200/topic/comments.new?user' + usernameInput.val());
            newComments.onmessage = function (event) {
                console.log("Received %s!", event.data);
                var parsedMessage = JSON.parse(event.data);
                var ul = document.getElementById("comments-" + parsedMessage.imageId);
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(parsedMessage.comment));

                ul.appendChild(li);
            };

            outboundChatMessages = new WebSocket('ws://localhost:8200/app/chatMessage.new?user=' + usernameInput.val());
            // Post new chat messges
            outboundChatMessages.onopen = function (ev) {
                $("#chatButton").click(function() {
                    var chatInput = $("#chatInput");
                    console.log("Publising '%s'", chatInput.val());
                    outboundChatMessages.send(chatInput.val());
                    chatInput.val("");
                    chatInput.focus();
                });
            };

            inboundChatMessages = new WebSocket('ws://localhost:8200/topic/chatMessage.new?user=' + usernameInput.val());
            // Listen for new chat messages
            inboundChatMessages.onmessage = function (event) {
                console.log("Received '%s'", event.data);
                var chatDisplay = $("#chatDisplay");
                chatDisplay.val(chatDisplay.val() + event.data + '\n');
            };
        });

        $("#disconnect").click(function () {
            document.getElementById('connect').style.display = 'inline';
            document.getElementById('disconnect').style.display = 'none';
            document.getElementById('chatBox').style.display = 'none';

            if (newComments != null) {
                newComments.close();
            }
            if (outboundChatMessages != null) {
                outboundChatMessages.close();
            }
            if (inboundChatMessages != null) {
                inboundChatMessages.close();
            }
        });










        /**
         With Thymeleaf's JavaScript support, it will plug in the URL for @{'/comments'}
         upon rendering.
         Then it constructs a FormData, and loads the same fields as the previous chapter
         as if we had filled out an HTML form on the page.
         It transmits the form data over the wire. Since we don't depend on the results,
         they are ignored.
         Finally, it clears out the comment input's entry box.
         */
        document.querySelectorAll('button.comment')
            .forEach(function (button) {
                button.addEventListener('click', function () {
                    var comment = document.getElementById('comment-' + button.id);
                    console.log("Text for comment:", $("#comment-" + button.id).val());

                    var commentMessage = {
                        'comment': comment.value,
                        'imageId': button.id
                    };

                    console.log("Shooting a new comment for image %s with text %s ", commentMessage.imageId, commentMessage.comment);

                    $.ajax({
                        method: 'POST',
                        url: /*[[@{'/comments'}]]*/'',
                        data: commentMessage,
                        success: function() {
                            console.log('Comment sent successfully!');
                        },
                        error: function(e) {
                            console.log('error', e);
                        }
                    });

                    comment.value = '';
                });
            });

        /**
         We start by creating a WebSocket connection at ws://localhost:8200/topic/comments.new

         With a JavaScript WebSocket object assigned to our socket variable, we then
         assign event handlers to onopen and onmessage.

         The onopen handler is processed when a connection is first opened on the server.
         In this case, it merely logs that we have connected.

         The onmessage handler is processed everytime a message is issued from the
         server. In this case, we log the event's data, parse it (assuming it's JSON),
         construct an HTML LI, and append it to the page's already existing UL based
         on the comment's imageId.
         */
        var socket = new WebSocket('ws://localhost:8200/topic/comments.new');
        socket.onerror = function (event) {
            console.log("Error opening connection to socket", event.target.url);
        };
        socket.onopen = function (event) {
            console.log('Connected to chat service!');
            console.log(event);
        };

        socket.onmessage = function (event) {
            var comment = JSON.parse(event.data);
            console.log('New comment %s posted on %s with content "%s"', comment.id, comment.imageId, comment.comment);

            var parsedMessage = JSON.parse(event.data);

            var ul = document.getElementById('comments-' + parsedMessage.imageId);
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(parsedMessage.comment));
            ul.appendChild(li);
        }





    })();
    /*]]>*/
</script>
</html>
